body{
    padding: 0px;
    margin: 0px;
    overflow-x:hidden;
    font-family: "メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","微软雅黑";
}
.header {
	position:relative;
	right:75px;
	float:right;
	top:78px;
	width:200px;
	text-align:center;
}
.header h1 {
	font-size:25px;
    color: #810400;
	padding:0px;
	margin:0px;
}
.header p {
	padding:0px;
	margin:0px;
	font-size:15px;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.content-area {
	padding-top: 50px;
    width: 924px;
    margin-left:auto;
}
.content-head {
    width: 100%;
    height: 150px;
    background-image: url(src/bg_section_primary.png);
}
.content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1px;
    background: #fef8ed;
    margin-left: 19px;
    margin-right: 19px;
    border: 3px solid #dbc19a;
    border-top: none;
    margin-bottom: 20px;
    min-height: 600px;
	color:#3C250A;
}
.content h1 {
    color:#810400;
    /*text-shadow: 2px 2px 5px #fbf489;*/
    /*
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fbf489;
    */
    text-shadow:
        -2px -2px 0 white,
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white;
}
/*
	笔记本
*/
.note::before { /* 日记本效果 */
	content: '';
    display: block;
    position: relative;
	float:left;
	top:-20px;
	right:25px;
    background: url(src/bg_ring.png) no-repeat 0 0;
    width: 820px;
    height: 40px;
}
.note {
	background: url(src/bg_tile.jpg) repeat;
	border: solid 1px #a28e6f;
	border-radius: 10px;
	box-shadow: 1px 1px 0 0 #e4cead;
	margin: 0px auto 50px;
	z-index: 10;
	padding: 0px 25px 20px;
}
.note-info {
    text-align: right;
    margin-bottom: -20px;
}
.widget-area {
    width: 275px;
    float: left;
    margin-top: 150px; 
 
}
nav {
    width: 230px;
    padding-left: 40px;
}
nav a {
    color: white;
    text-decoration:none;
}
nav a:hover {
    color: #fae537;
    text-decoration:none;
}
.nav-menu-left .title {
    /*菜单标题*/
    position: absolute;
    z-index: 1;
    float: left;
    left: 35px;
    top: 14px;
    width: 152px;
    text-align: center;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    color: #810400;
    font-size: 20px;
}
.nav-menu-left{
    background: url(src/bg_top.png) no-repeat right top,url(src/bg_bottom.png) no-repeat right bottom;
    width: 220px;
    padding: 50px 10px 66px 0;
    position: absolute;
}
.nav-menu-left::after { 
    content: '';
    position: absolute;
    display: block;
    background: url(src/bg_right01.png) no-repeat 0 0;
    width: 30px;
    height: 122px;
    top: 0;
    right: 0;
}

.nav-menu-left ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: white;
    font-weight: bold;
}
.nav-menu-left ul li {
    padding-left: 40px;
    background: url(src/bg_middle.png);
    display: block;
    position: relative;

}
.nav-menu-left ul li:hover {
    color: #fae537;
}
.nav-menu-left ul a::after {
    float: right;
    padding-right: 38px;
    content: " »"
}


.nav-menu-left li ul {
    display: none;
    padding: 0px;
    margin: 0px;
}
.nav-menu-left li ul li{
    background-color: transparent;
    background: none;
    padding-left: 20px;
    margin: 0px;
}
.nav-menu-left li:hover > ul{
    display:block;
    
}
